#div1 {
	background-color: blue;
	padding: 40px;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

body {
	margin: 0px;
}

#parent {
	font-size: 28px;
}

#child {
	font-style: italic;
}

.tbl-data1 td {
	padding: 10px;
}

#div2,
#div3,
#div4 {
	background-color: blue;
	color: white;
	margin: 10px;
}

.class1 .class2 ul li.selected {
  background-color: red;
  color: white;
}