 body {
 	background-color: white;
 	margin: 0px;
 	font-family: Arial,sans-serif;
 	font-size: 14px;
 }

div {
	box-sizing: border-box;
}

 #header,
 #master,
 #footer {
 
 }

#footer {
	border-top: solid 1px #dddddd;
	background-color: #f5f5f5;
	text-align: center;
	padding: 30px;
	color: #999999;
	clear: both;
}

/***   menu   ***/

#banner {
	background-color: #5d4384;
	color: white;
	font-size: 30px;
	padding: 40px;
}

#menu {
	height: auto;
}

#menu ul.main-menu {
	margin: 0px;
	padding-left: 0px;
	background-color: #fff;
	border: solid 1px #dddddd; 
}

#menu ul.main-menu > li{
	display: block;
	float: left;
	padding: 10px; 
	cursor: pointer;
}

#menu .main-menu li:hover{
	background-color: #dedede;
}

ul.main-menu > li {
	position: relative;
}

ul.main-menu li .sub-menu {
	position: absolute;
	top: 36px;
	left: 0px;
	background-color: #fff;
	border: solid 2px #dddddd;
	min-width: 200px;
	display: none;
}

ul.main-menu li:hover .sub-menu {
	display: block;
}

.sub-menu .sub-menu-list {
	list-style: none;
	padding-left: 0px; 
}

.sub-menu .sub-menu-list li {
	padding: 10px;
}





/***   menu   ***/

 #master {
 	min-height: 400px;
 }

 #col-left {
 	float: left;
 	width: 250px;
 }

 #col-center {
 	margin: 0px 250px 0 250px;
 }

 #col-center-content {
 	margin: 5px;
 }

 #col-right {
 	float: right;
 	width: 250px;
 }

@media screen and (max-width: 800px){ 
  	#col-right {
  		float: none;
  		clear: both;
  	}

  	#col-left,
  	#col-right {
  		width: 100%;
  	}

  	#col-center {
  		margin-left: 0px;
  		margin-right: 0px;
  	}
}

.news-panel {
	margin: 10px;
	border: solid 1px #999999;
}

.news-panel-header {
	padding: 10px;
	background-color: #f5f5f5;
	border-bottom:  solid 1px #999999;
}

.news-panel-content {
	padding: 10px;
}

.news-item {
	margin: 0px 0px 20px 0px;
	padding-bottom: 10px; 
	border-bottom: solid 1px #dddddd;
}

.news-item-title {
	font-size: 18px;
	font-weight: bold;
}

.thumb {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px; 
}