#div1 {
	background-color: blue;
	padding: 40px;
	color: white;
	font-size: 40px;
	font-weight: bold;
}

body {
	margin: 0px;
}

#parent {
	font-size: 28px;
}

#child {
	font-style: italic;
}

.tbl-cookie {
	border-collapse: collapse;
}

.tbl-cookie td, .tbl-cookie th {
	padding: 10px;
	border: solid 1px #dddddd;
	word-break: break-word;
	min-width: 150px;
}

.tbl-cookie thead th {
	background-color: blue;
	color: white;
	font-weight: bold;
}

#div2,
#div3,
#div4 {
	background-color: blue;
	color: white;
	margin: 10px;
}

.class1 .class2 ul li.selected {
  background-color: red;
  color: white;
}